python-dotenv

langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-cohere

chromadb
openai
cohere

pymupdf
unstructured
markdown

rank-bm25

fastapi
uvicorn[standard]
pydantic
jupyterlab
ipykernel

pymilvus